<%= stylesheet_link_tag 'emails' %>

<%= @from_user.name %> đã vượt qua bạn với khoảng cách <%= @score_diff %> điểm. Và đã <strong><%= @teaser.teasing_phase %></strong> bạn.
<p class='btn-container'>
  <a class="btn" href="<%= root_url %>" >Phục Thù</a>
</p>